.button{
    text-align: center;
    outline: 1px solid #e0e0e0;
    outline-offset: -1px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.1s ease-out;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
}
.button:hover{
    outline-offset: 1px;
    outline-color: #c0dada;
    z-index: 10;
}
.button:active{
    outline-offset: 4px;
    outline-color: #40c0c0;
}

.fakebutton{
    width: auto;
    height: 1.5em;
    margin: 0.5em;
    background-color: #f8f8f8;
    padding: 0.5em 2em;
    color: #808080;
}
